@model IEnumerable<editroles.UserModel.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>S.Votsis web developer</h1>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
   @if (User.Identity.IsAuthenticated)
   {
    <h1>Welcome @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h1>
  
    if (User.IsInRole("Administrator"))
    {
        using (Html.BeginForm("EditIndex", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <table class="table table-bordered table-striped">

                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                    </tr>
                   @foreach (var item in Model)
                   {
                    <tr>
                        <th>@item.Username</th>
                        <th>@item.Password</th>
                        <th>@item.Email</th>
                        <th>@item.Role</th>
                    </tr>                    
                   }
                </table>
            </div>
            <table>
                <tr>
                    <td>
                        <p>You are loggedin as admin</p>
                        <input type="text" id="txtId">
                        <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
                    </td>
                </tr>
            </table>
           }
       }
       else
       {

           using (Html.BeginForm("EditIndex2", "Home", FormMethod.Post))
           {
            <div class="form-group">
                <table class="table table-bordered table-striped">

                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Username</th>
                            <th>No permission</th>
                            <th>@item.Email</th>
                            <th>@item.Role</th>
                        </tr>
                    }
                </table>
            </div>
            <table>
                <tr>
                    <td>
                        <p>You are loggedin as Member</p>
                        <input type="text" id="txtId">
                        <input type="submit" value="Submit" class="btn btn-success btn-lg" />
                    </td>
                </tr>
            </table>
           }
       }
    
     <input type = "submit" value = "Logout" class="alert-danger" onclick="location.href='@Url.Action("SignOut", "User")'" />

   }
</div>