@model IEnumerable<editroles.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
   @if (User.Identity.IsAuthenticated)
   {
    <h1>Welcome @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h1>
    <a href="@Url.Action("Signout", "User")">Logout</a>
    if (User.IsInRole("Administrator"))
    {
        using (Html.BeginForm("EditIndex", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <table class="table table-bordered table-striped">

                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Edit</th>
                    </tr>
                   @foreach (var item in Model)
                   {
                    <tr>
                        <th>@item.Username</th>
                        <th>@item.Password</th>
                        <th>@item.Email</th>
                        <th>@item.Role</th>
                    </tr>                    
                   }
                </table>
            </div>
            <table>
                <tr>
                    <td>
                        <p>You are loggedin as admin</p>
                        <input type="text" id="txtId">
                        <input type="submit" value="Submit" class="btn btn-success btn-lg" />
                    </td>
                </tr>
            </table>
           }
       }
       else
       {

        using (Html.BeginForm("EditIndex2", "Home", FormMethod.Post))
        {
            <div class="form-group">

            </div>
            <table>
                <tr>
                    <td>
                        <p>You are loggedin as member</p>
                        <input type="text" id="txtId">
                        <input type="submit" value="Submit" class="btn btn-success btn-lg" />
                    </td>
                </tr>
            </table>
        }
      }
   }
</div>